.Table {
    font-size: 15px;
}

.Adj-text p {
    text-align: justify;
}

.fakeLink {
    cursor: pointer;
    color: dodgerblue;
}

.fakeLink:hover {
    color: #09578E;
    text-decoration: underline;
}